<div class="well">
  <h1>This is a site where we crowdsource information</h1>
  <h3>We are gatering right around 2 billion contributions per day!! This
   includes users posting questions and then other users are able to comment/answer these questions, or ask questions of their own!  </h3>
</div>
