<h1>This is a site where we crowdsource information</h1>

<p>
  we are gathering right around 2 billion contributions per day!!
</p>

<h3>this includes users posting questions and then other users are able to comment/answer these questions, or ask questions of te  </h3>
