<div class="container">
  <header>{{#link-to 'index'}}Home{{/link-to}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{#link-to 'about'}}<span class= "aboutlink">About</span>  {{/link-to}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{#link-to 'contact'}}<span class= "contactlink">Contact</span>{{/link-to}}</header>

<h2 id="title">Jackson's questions board</h2>


{{outlet}}

</div>
