<div class="container">
  <header>{{#link-to 'index'}}Home{{/link-to}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{#link-to 'about'}}<span class= "aboutlink">About</span>{{/link-to}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{#link-to 'contact'}}<span class= "contactlink">Contact</span>{{/link-to}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="favorite"><span class="favnumba">{{favorite-indicator}}</span>
           {{#link-to 'favorite-page'}}<span class= "favoriteslink">favorites</span> {{/link-to}}
         </div>
  </header>

<h2 id="title">Jackson's questions board</h2>


{{outlet}}

</div>
