<div class="index">
  <h1 id="compName">immediAnswer!</h1>
  <h3>please post or answer questions(s) below</h3>
  <h2>QUESTIONS:</h2>
  <h4>KEY:</h4>
  <p>one '!' means a few answers. three '!!!' means a lot if answers, and warning sign means there havent been any answers yet</p>
  <ul>
    {{#each model.questions as |question|}}
    <div class="well">
        <p>{{most-answers question}}</p>
      {{question-tile question=question destroyQuestion="destroyQuestion"}}

    </div>
    {{/each}}
  </ul>
  {{new-question saveQuestion5="saveQuestion6"}}
</div>
