<h2>Welcome to immediAnswer!</h2>

<h3>I hope you enjoy this application and use it the way it was intended to be used!</h3>

<h1>QUESTIONS:</h1>

<ul>
  {{#each model as |question|}}
  <div class="well">
    {{question-tile question=question}}
  </div>
  {{/each}}
</ul>

{{new-question saveQuestion5="saveQuestion6"}}
