<div class="index">
  <h1 id="compName">immediAnswer!</h1>
  <h3>please post or answer questions(s) below</h3>
  <h2>QUESTIONS:</h2>
  <ul>
    {{#each model.questions as |question|}}
    <div class="well">
      {{question-tile question=question destroyQuestion="destroyQuestion"}}
    </div>
    {{/each}}
  </ul>
  {{new-question saveQuestion5="saveQuestion6"}}
</div>
